.TableWhidth{
    width: 30%;
    justify-content: center;
}
.divTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
.Tablecontent{
    justify-content: center;
    text-align: center;
}
